{{#contentFor 'body' }}
  <h3>User Details</h3>
    Name : {{name}} <br><br>
    Email : {{email}}<br><br>
    Password : {{password}}<br><br>
    Birth date : {{birth_date}}<br><br>
    Avatar : <img src="{{avatar}}" width="100px"/><br><br>
    <a href="/users">Back</a>
{{/contentFor}}
